{{#if controllers.application.canManageBoards}}
  {{render newBoard}}
{{/if}}

{{#if model}}
  <ol>
    {{#each board in model}}
      <li>
        {{#link-to "board" board}}{{board.name}}{{/link-to}}
      </li>
    {{/each}}
  </ol>
{{else}}
  No boards.
{{/if}}
