<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Configuring perspective at {{column}}, {{row}}</h5>
  </div>

  <div class="panel-body">
    {{#each configurableAttributes}}
      {{configurable-attribute attributeBinding="this"}}
    {{/each}}

    {{#link-to "slide" slide class="btn btn-default"}}Close{{/link-to}}
  </div>
</div>
