{{#if slideInFlight}}
  <h4>
    <span class="glyphicon glyphicon-cloud"></span>
    &nbsp;Enhance...
  </h4>
{{else}}
  <p class="lead">
    This is a new board.  A board is a grouping of slides, which are single pages of data which are broken up into a grid.  You&apos;ll add perspectives to the grid, which are views to some data with specific dimensions.
  </p>

  <button {{action "createSlide"}} class="btn btn-default">Get Started</button>
{{/if}}
