I am displaying a slide with id {{id}}!


{{#if perspectiveAssignments}}
  <div class="gridster">
    <ul>
      {{#each perspectiveAssignments}}
        <li {{bind-attr data-row=row data-col=column data-sizex='templateHack.width' data-sizey='templateHack.height'}}>
          {{view templateNameBinding="templateHack.templateName"}}
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  No perspectives.
{{/if}}
