<h3>Source: {{name}}</h3>

<ul>
  <li>
    <h4>Configurable Attributes</h4>
    {{#each configurableAttribute in configurableAttributes}}
        {{render "configurableAttribute" configurableAttribute}}
    {{/each}}

    <h4>Perspectives</h4>
    <ul>
      {{#each perspectives}}
        <li>
          {{name}}
          <em>{{description}}</em>
        </li>
      {{/each}}
    </ul>
  </li>
</ul>
