.gridster
  %ul
    %li{ data: { row: 1, col: 1, sizex: 1, sizey: 1 } } First
    %li{ data: { row: 2, col: 1, sizex: 1, sizey: 1 } } Second
    %li{ data: { row: 3, col: 1, sizex: 1, sizey: 1 } } Third

    %li{ data: { row: 1, col: 2, sizex: 2, sizey: 1 } } Fourth
    %li{ data: { row: 2, col: 2, sizex: 2, sizey: 2 } } Fifth

    %li{ data: { row: 1, col: 4, sizex: 1, sizey: 1 } } Sixth
    %li{ data: { row: 2, col: 4, sizex: 2, sizey: 1 } } Seventh
    %li{ data: { row: 3, col: 4, sizex: 1, sizey: 1 } } Eighth

    %li{ data: { row: 1, col: 5, sizex: 1, sizey: 1 } } Ninth
    %li{ data: { row: 3, col: 5, sizex: 1, sizey: 1 } } Tenth

    %li{ data: { row: 1, col: 6, sizex: 1, sizey: 1 } } Eleventh
    %li{ data: { row: 2, col: 6, sizex: 1, sizey: 2 } } Twelth
