!!! 5

%html
  %head
    %title All Aboard
    = stylesheet_link_tag    "all_aboard/gridster", media: "all"
    = javascript_include_tag "all_aboard/gridster"
    = csrf_meta_tags

  %body
    Gridster?

    = yield
