<div>
  <strong>I am a wrapper.</strong>
  <button {{action "remove"}}>X</button>
  {{#link-to "configure_perspective_assignment" assignment}}Configure{{/link-to}}

  {{view Em.View templateNameBinding='templateName' contextBinding="assignment.payload.value"}}
</div>
