.perspective-assignment {
  overflow: hidden;
  display: table;

  .manage {
    visibility: hidden;
    position: absolute;
    width: 100%;
    bottom: 8px;
    right: 8px;
    text-align: right;

    a {
      font-size: 150%;
      color: #fff;
      text-decoration: none;
    }
  }

  &:hover {
    .manage {
     visibility: visible;
    }
  }

  .body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }
}
